@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progress_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#progress {
    height: 4px;
    background-color: #18ade7;
}
#progress_label {
    font-size: 0.8rem;
    margin-left: 5px;
}
.quiz_container {
    padding: 10px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#quiz {
    padding: 10px;
}
#quiz ul {
    list-style-type: none;
    padding: 0;
}
#quiz #question {
    font-size: 1.5rem;
    margin: 0;
}
#error_msg {
    display: none;
    color: red;
    font-size: 0.8rem;
}
.action {
    border-top: 1px solid rgb(214, 212, 212);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.action button {
    all: unset;
    color: #fff;
    background-color: #18ade7;
    padding: 3px 10px;
    border-radius: 5px;
}
.action button:hover {
    cursor: pointer;
    background-color: #0c7ca8;
}